In [1]:
from normalized_text_matching import *

In [17]:
text = 'This is a test, Ben was here. Be;n was here. Be*n was here. ben was here.'
search_terms = ['Ben']
replacement_pairs = {'test':'Ben', ';':''}
strip_chars = '*'

In [18]:
results = normalized_text_search(text, 
                                 search_terms,
                                 replacement_pairs,
                                 strip_chars)
results

  original_text normalized_match search_value locations
0          test              ben          Ben  (10, 14)
1           Ben              ben          Ben  (16, 19)
2          Be;n              ben          Ben  (30, 34)
3           ben              ben          Ben  (60, 63)

In [12]:
replacement_pairs = dict([
                 ('.', '. '),
                 ('&', ' and '),
                 (' co ',' company '),
                 (' co. ',' company '),
                 (' corp ',' corporation '),
                 (' corp. ',' corporation '),
                 ('incorporated',' '),
                 ('incorporated.',' '),
                 (' inc ',' '),
                 (' inc. ',' '),
                 ('llc', ' '),
                 (' ltd ',' limited '),
                 (' ltd.',' limited '),
                 # (' elevation ',''),
])


strip_chars =  [',', '/', '-', "'",]

In [14]:
import json

with open('replacement_pairs.json', 'w') as fp:
    json.dump(replacement_pairs, fp)
    
with open('strip_chars.json', 'w') as fp:
    json.dump(strip_chars, fp)